{
    "DISCORD_TOKEN": "YOUR DISCORD BOT TOKEN",
    "DISCORD_BOT_OWNER_ID": "YOUR USER ID",
    "DEBUG": "1",

    "DATABASE_URL": "./database.db",
    
    
    "DISCORD_INVITE_URL": "YOUR INVITE URL",

    "MESSAGE_DEBUG": "0",
    "DISCORD_DEBUG_WEBHOOK_ID": "YOUR id",
    "DISCORD_DEBUG_WEBHOOK_TOKEN": "YOUR WEBHOOK TOKEN",
    "DISCORD_ACTIVITY_WEBHOOK_ID": "YOUR WEBHOOK ID",
    "DISCORD_ACTIVITY_WEBHOOK_TOKEN": "YOUR WEBHOOK TOKEN",


    "TOPGG_TOKEN": " "
}